#offers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #offers td, #offers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #offers tr:nth-child(even){background-color: #f2f2f2;}
  
  #offers tr:hover {background-color: #ddd;}
  
  #offers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }